<nav>
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="products">Products</NavLink></li>
    </ul>
</nav>

<NavLink class="nav-link" href="login">
    <span class="oi oi-account-login" aria-hidden="true"></span> Login
</NavLink>

<NavLink class="nav-link" href="register">
    <span class="oi oi-plus" aria-hidden="true"></span> Register
</NavLink>
